*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# web stuff
src/main/resources/static/typings/
src/main/resources/static/node_modules
src/main/resources/static/node
src/main/resources/static/npm-debug.log

# IDEA
/.idea/
*.iml

# Eclipse
/.classpath
/.project
/.settings/

# Maven
/log/
/target/
release.properties
dependency-reduced-pom.xml
buildNumber.properties


#OS meta files
.DS_Store

# Misc
/tmp/
/bin/
/data/
/global-groovy.log
rebel.xml