@font-face {
  font-family: $akkuratlight ;
  src: url('../fonts/akkurat/akklg.woff') format('woff');
}

@font-face {
  font-family: $akkuratregular;
  src: url('../fonts/akkurat/akkrg.woff') format('woff');
}

@font-face {
  font-family: $akkuratbold;
  src: url('../fonts/akkurat/akkbd.woff') format('woff');
}
