@mixin icon-arrow-grey {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+YnV0dG9uIGFycm93IGRvd248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE0LjA2NyAxOC43MjZhLjk5Mi45OTIgMCAwIDEtLjctLjI4OGwtNS42NjMtNS42NjNhLjk5NS45OTUgMCAwIDEgLjAwMy0xLjQxMWMuMzktLjM5IDEuMDMtLjM4NSAxLjQxMS0uMDAzbDQuOTUzIDQuOTUzIDQuOTUzLTQuOTUzYS45OTUuOTk1IDAgMCAxIDEuNDExLjAwM2MuMzkuMzkuMzg1IDEuMDMuMDAzIDEuNDFsLTUuNjYzIDUuNjY0YS45OS45OSAwIDAgMS0uNzAyLjI5MnoiIGZpbGw9IiM2NjYiLz48L2c+PC9zdmc+);
}

@mixin icon-arrow-lightecru {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+YnV0dG9uIGFycm93IGRvd248L3RpdGxlPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTE0LjA2NyAxOC43MjZhLjk5Mi45OTIgMCAwIDEtLjctLjI4OGwtNS42NjMtNS42NjNhLjk5NS45OTUgMCAwIDEgLjAwMy0xLjQxMWMuMzktLjM5IDEuMDMtLjM4NSAxLjQxMS0uMDAzbDQuOTUzIDQuOTUzIDQuOTUzLTQuOTUzYS45OTUuOTk1IDAgMCAxIDEuNDExLjAwM2MuMzkuMzkuMzg1IDEuMDMuMDAzIDEuNDFsLTUuNjYzIDUuNjY0YS45OS45OSAwIDAgMS0uNzAyLjI5MnoiIGZpbGw9IiNFQUUyRDMiLz48L2c+PC9zdmc+);
}

@mixin icon-search-red {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc5MiIgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGZpbGw9IiM5YTA5NDEiIGQ9Ik0xMjE2IDgzMnEwLTE4NS0xMzEuNS0zMTYuNXQtMzE2LjUtMTMxLjUtMzE2LjUgMTMxLjUtMTMxLjUgMzE2LjUgMTMxLjUgMzE2LjUgMzE2LjUgMTMxLjUgMzE2LjUtMTMxLjUgMTMxLjUtMzE2LjV6bTUxMiA4MzJxMCA1Mi0zOCA5MHQtOTAgMzhxLTU0IDAtOTAtMzhsLTM0My0zNDJxLTE3OSAxMjQtMzk5IDEyNC0xNDMgMC0yNzMuNS01NS41dC0yMjUtMTUwLTE1MC0yMjUtNTUuNS0yNzMuNSA1NS41LTI3My41IDE1MC0yMjUgMjI1LTE1MCAyNzMuNS01NS41IDI3My41IDU1LjUgMjI1IDE1MCAxNTAgMjI1IDU1LjUgMjczLjVxMCAyMjAtMTI0IDM5OWwzNDMgMzQzcTM3IDM3IDM3IDkweiIvPjwvc3ZnPg==);
}

.asc {
  transform: rotate(180deg);
}

[class|="icon"] {
  font-size: 20px;
}