div.flatpickr-weekdays,
div.flatpickr-days,
div.dayContainer,
div.flatpickr-innerContainer,
div.flatpickr-calendar {
  @include max-width(sm) {

    min-width: 224px;
    width: calc(100vw - 96px);
    max-width: 315px;
  }
}

.flatpickr {

  div &-month {
    height: 40px;
    border-bottom: 1px solid $dividerline;
    fill: $white;
    .flatpickr-prev-month:hover svg,
    .flatpickr-next-month:hover svg{
      fill: $white;
    }

    & > * {
      height: 40px;
    }
    & svg {
      height: 100%;
      width: 20px;
      height: 16px;
      box-sizing: content-box;
      padding: 2px 0;
      border-radius: 10px;
      background-color: $helsanaRed;
    }
    .arrow {
      color: $helsanaRed;
      font-size: 16px;
    }
  }

  div &-day {
    &::after {
      content: ' ';
      position: absolute;
      border-bottom: 1px solid $datepickerborder;
      border-radius: 0;
      height: 30px;
      left: 20%;
      width: 60%;
      bottom: 4px;
      z-index: -1;
    }
    &.today:not(.selected) {
      border-color: transparent;
      color: $helsanaRed;
      font-family: $akkuratbold;
    }
    &.selected {
      background: transparent;
      border-color: transparent;
      &::after {
        background-color: $helsanaRed;
      }
    }
  }
}